# Virtual environment files
Lib*
Scripts*
pyvenv.cfg
.venv

# Project-specific Files
share
include
__pycache__
.flaskenv
*.db
*.pem
migrations
bin
downloads/*
.cache
node_modules

# IDE files
.idea
.vscode/