# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# For virtual environment
Lib*
Scripts*
pyvenv.cfg

share
include
__pycache__
.vscode
.flaskenv
*.db
*.pem
migrations
bin
downloads/*
.cache