mutagen==1.47.0
requests==2.31.0
yt-dlp==2024.8.6
gevent==23.9.1
gevent-websocket==0.10.1
Flask==3.0.1
Flask-SocketIO==5.3.6
Flask-Migrate==4.0.5
Flask-SQLAlchemy==3.1.1
musicbrainzngs==0.7.1
sponsorblock.py==0.2.2
python-dateutil==2.8.2
python-dotenv==1.0.1
python-magic==0.4.27
pytest==8.0.0
ffmpeg-python==0.2.0
youtube-search-python==1.6.6
spotipy==2.23.0
urllib3==2.1.0
deezer-python==6.1.1
lyricsgenius==3.0.1