.sun-and-moon {
  pointer-events: none;
}
.icons {
  width: 1.5rem;
  height: 1.5rem;
  fill: #454D54;
}

[data-theme="dark"] .icons {
  fill: #e8eaed;
}
[data-theme="dark"] .icons:hover {
  fill: #251619;
}

@import "https://unpkg.com/open-props/easings.min.css";

.sun-and-moon > :is(.moon, .sun, .sun-beams) {
  transform-origin: center;
}

.sun-and-moon > :is(.moon, .sun) {
  fill: var(--icon-fill);
}

.theme-toggle:is(:hover, :focus-visible) > .sun-and-moon > :is(.moon, .sun) {
  fill: var(--icon-fill-hover);
}

.sun-and-moon > .sun-beams {
  stroke: var(--icon-fill);
  stroke-width: 2px;
}

.theme-toggle:is(:hover, :focus-visible) .sun-and-moon > .sun-beams {
  stroke: var(--icon-fill-hover);
}




[data-theme="dark"] {
  background-color: #111 !important;
  color: #eee;
}

[data-theme="dark"] .darkanchor {
  color: #8dc6ff;
}

[data-theme="dark"] svg:hover {
  color: #fff;
}

[data-theme="dark"] .card-body {
  background-color: #352e2e;
}

[data-theme="dark"] .bg-light {
  background-color: #333 !important;
}

[data-theme="dark"] #outputfolderbtn {
  border-color: #eee;
}

[data-theme="dark"] .bg-white,
[data-theme="dark"] .dropdown-item:hover,
[data-theme="dark"] #outputfolderbtn:hover {
  background-color: #000 !important;
}

[data-theme="dark"] .text-dark,
[data-theme="dark"] .bg-black,
[data-theme="dark"] .dropdown-item,
[data-theme="dark"] .navbar-toggler,
[data-theme="dark"] .navbar-nav > .nav-item > a:hover,
[data-theme="dark"] .navbar-nav > .active > a,
[data-theme="dark"] .close,
[data-theme="dark"] code,
[data-theme="dark"] .aplayer-list > ol > li {
  color: #eee !important;
}

[data-theme="dark"] .modal-content,
[data-theme="dark"] .dropdown-menu,
[data-theme="dark"] #audioplayer,
[data-theme="dark"] .popover,
[data-theme="dark"] .popover-header {
  background-color: #333;
}

[data-theme="dark"] .navbar-nav > .nav-item > a,
[data-theme="dark"] .addfolder:hover,
[data-theme="dark"] .removefolder:hover {
  color: #9d9a9a !important;
}

[data-theme="dark"] .table-hover > tbody > tr:hover,
[data-theme="dark"] .aplayer-list > ol > li:hover,
[data-theme="dark"] .aplayer-list-light,
[data-theme="dark"] .selectedrow {
  background-color: #281f1f !important;
}

[data-theme="dark"] input,
[data-theme="dark"] input.disabled,
[data-theme="dark"] select,
[data-theme="dark"] .input-group-text,
[data-theme="dark"] #switchlabel,
[data-theme="dark"] #item_filepath,
[data-theme="dark"] #outputfolderbtn,
[data-theme="dark"] .nav-tabs > .nav-item > .nav-link {
  background-color: #333;
  color: white;
}

[data-theme="dark"] .modal-header,
[data-theme="dark"] .modal-content,
[data-theme="dark"] .modal-footer {
  border-color: #222;
}

svg {
  fill: rgba(0,0,0,.5)
}

[data-theme="dark"] .svg {
  fill: #ebe9fc;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}
svg[xmlns] {
  width: 24px;
  height: 24px;
}
.nav-link {
  color: inherit;
}
.tab-content {
  margin-top: 1rem;
}