<form>
    <div class="form-row">
        <div class="col">
            <label for="#template">Template</label>
            <select class="custom-select" id="template">
                {% for template in templates %}
                    <option value="{{ template.id }}">{{ template.name }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="form-row">
        <div class="col">
            <label for="#type">Type</label>
            <input id="type" class="form-control disabled" value="{{ templates[0].type }}" disabled />
        </div>
        <div class="col">
            <label for="#outputname">Output format**</label>
            <input type="text" class="form-control" value="{{ templates[0].output_name }}" id="outputname" />
        </div>
        <div class="col">
            <label for="#extension">Extension</label>
            <select class="custom-select" id="extension">
                <optgroup label="Audio">
                    <option value="aac">AAC</option>
                    <option value="flac">FLAC</option>
                    <option value="mp3" selected>MP3</option>
                    <option value="m4a">M4A</option>
                    <option value="opus">Opus</option>
                    <option value="vorbis">Vorbis</option>
                    <option value="wav">WAV</option>
                </optgroup>
                <optgroup label="Video">
                    <option value="mp4">MP4</option>
                    <option value="flv">Flash Video (FLV)</option>
                    <option value="webm">WebM</option>
                    <option value="ogg">Ogg</option>
                    <option value="mkv">Matroska (MKV)</option>
                    <option value="avi">AVI</option>
                </optgroup>
            </select>
        </div>
    </div>
    <div class="form-row">
        <div class="col">
            <label for="#output_folder">Output folder</label>
            <input type="text" id="output_folder" value="{{ templates[0].output_folder }}" class="form-control" />
        </div>
        <div class="col">
            <label for="#bitrate">Bitrate***</label>
            <input type="text" class="form-control" id="bitrate" value="{{ templates[0].bitrate }}" />
        </div>
    </div>
    <div class="form-row">
        <div class="col">
            <p class="float-left">
                * (absolute path starting with <code>/</code> or <code>drive_letter:\</code> or a relative path from the root directory) <br/>
                ** (More info about name formatting <a target="_blank" href="https://github.com/yt-dlp/yt-dlp#format-selection">here</a>) <br />
                *** (More info about bitrates <a target="_blank" href="https://en.wikipedia.org/wiki/Bit_rate">here</a>)
            </p>
        </div>
    </div>
    <div class="form-row">
        <Div class="col">
            <div class="progress d-none">
                <div class="progress-bar progress-bar-striped progress-bar-animated" id="ytdl_progress" role="progressbar" aria-valuenow="" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <div class="d-none" id="progress_status"><p></p></div>
        </Div>
    </div>
</form>