{% extends 'base.html' %}
{% block content %}
<script src="{{ url_for('static', filename='JS/overview.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='CSS/overview.css') }}" />
<div class="container">
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Enter downloaded song..." aria-label="Downloaded song name">
        <div class="input-group-append">
            <button type="button" id="addsong" class="btn btn-success input-group-text bg-success" data-toggle="modal" data-target="#downloadmodal"><i class="fi-xwsuxl-plus-solid"></i></button>
            <button class="navbar-toggler d-block d-lg-none" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fi-xnsuxl-three-bars-solid"></i>
            </button>
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Artist</th>
                <th scope="col">Album</th>
                <th scope="col">Date</th>
                <th scope="col">Downloadprogress</th>
            </tr>
        </thead>
    </table>
</div>
<div class="modal fade" tabindex="-1" role="dialog" id="downloadmodal" aria-labelledby="download songs modal" aria-hidden="true">
    <div class="modal-dialog modal-lg mw-100 w-75">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Download song</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    {% if ffmpeg_path is sameas True %}
                    <div class="row">
                        <form id="queryform" class="form-group" style="width: 100%;">
                            <!-- <a href="https://github.com/yt-dlp/yt-dlp/blob/master/supportedsites.md" target="_blank" id="supportedsitesanchor">Supported sites can be viewed here</a> -->
                            <p>Only YouTube URLs are currently supported</p>
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" id="query" placeholder="Enter URL to download" aria-describedby="basic-addon2">
                                <div class="input-group-append">
                                    <!-- <select class="custom-select" id="query_type">
                                        <option selected value="url">Input type: URL</option>
                                        <option value="mbq">Input type: Musicbrainz query</option>
                                    </select> -->
                                    <input type="number" id="amount" class="form-control num_input" max="100" step="1" title="Max amount of items to load (default is 5 and max is 100)" placeholder="Max Amount of items to load (default is 5 and max is 100)" />
                                    <button type="button" id="searchsongbtn" class="btn btn-success"><i class="fi-xnsuhl-search"></i></button>
                                </div>
                            </div>
                            <div id="query_log"></div>
                        </form>
                    </div>
                    <div class="row">
                        <div class="col-md-6" id="ytcol"></div>
                        <div class="col-md-6" id="mbpcol"></div>
                    </div>
                    {% else %}
                    <div class="row">
                        <h3 class="text-center">Select an FFmpeg location in settings before downloading any songs!</h3>
                    </div>
                    {% endif %}
                </div>
            </div>
            <div class="modal-footer d-none">
                <button type="button" class="btn btn-primary">Download</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}