<div class="modal fade" id="removetemplatemodal" tabindex="-1" role="dialog" aria-labelledby="remove template modal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="removetemplatemodaltitle"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            <div class="modal-body">
                Are you sure you want to delete this Template? 
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" id="deltemplatebtnmodal">Delete template</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>