<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MetaTube</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/libraries/bootstrap.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/libraries/bootstrap-icons.css') }}" />
    <link rel="icon" href="{{ url_for('static', filename='images/icon.png') }}" type="image/icon type">
    <script src="{{ url_for('static', filename='JS/libraries/jquery-3.6.0.min.js') }}"></script>
    <script src="{{ url_for('static', filename='JS/libraries/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='JS/libraries/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='JS/libraries/socket.io.min.js') }}"></script>
    <script src="{{ url_for('static', filename='JS/global.js') }}"></script>
    </head>
<body class="d-flex flex-column min-vh-100">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item {{ 'active' if current_page == 'overview' else '' }}">
                    <a class="nav-brand" href="{{ url_for('overview.index') }}"><img
                            src="{{url_for('static', filename='images/icon.png')}}"></a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <span class="custom-control custom-switch nav-link">
                        <input type="checkbox" class="custom-control-input nav-link" id="darkSwitch" />
                        <label class="custom-control-label" id="switchlabel" for="darkSwitch">Dark Mode</label>
                    </span>
                </li>
                <li class="nav-item {{ 'active' if current_page == 'settings' else '' }} ">
                    <a class="nav-link" href="{{ url_for('settings.settings') }}">Settings <i class="bi bi-gear-fill" aria-hidden="true"></i></a>
                </li>
            </ul>
        </div>
    </nav>
        
    {% block content %}{% endblock %}
    <footer class="d-flex container-fluid justify-content-end mt-auto footer bg-light" style="bottom: 0;">
        <p class="text-right text-dark">Made by JVT038<br/><a href="https://github.com/JVT038/MetaTube" target="_blank">Star
            me on GitHub<i aria-hidden="true" class="bi bi-github"></i></a></p>
    </footer>
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/libraries/dark.css') }}" />
    <script src="{{ url_for('static', filename='JS/libraries/dark.min.js') }}"></script>
</body>
</html>