<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MetaTube</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/libraries/bootstrap/bootstrap.min.css') }}" />
    <link rel="icon" href="{{ url_for('static', filename='images/icon.png') }}" type="image/icon type">
    <script src="{{ url_for('static', filename='JS/libraries/jquery-3.6.0.min.js') }}"></script>
    <script src="{{ url_for('static', filename='JS/libraries/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='JS/libraries/bootstrap/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='JS/libraries/friconix.js') }}"></script>
    <script src="{{ url_for('static', filename='JS/libraries/socket.io.min.js') }}"></script>
    {{ JSGlue.include() }}
</head>
<body>
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        {% if current_page != 'overview' %}
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fi-xnsuxl-three-bars-solid"></i>
            </button>
        {% endif %}
        <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item {{ 'active' if current_page == 'overview' else '' }}">
                    <a class="nav-link" href="{{ url_for('overview.index') }}">Overview</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item {{ 'active' if current_page == 'settings' else '' }} ">
                    <a class="nav-link" href="{{ url_for('settings.settings') }}">Settings <i class="fi-xnsuxl-setting-solid"></i></a>
                </li>
            </ul>
        </div>
    </nav>
    
    {% block content %}{% endblock %}
</body>
</html>