<link rel="stylesheet" href="{{ url_for('static', filename='CSS/libraries/bootstrap/bootstrap.min.css') }}" />
<link rel="icon" href="{{ url_for('static', filename='images/icon.png') }}" type="image/icon type">
<script src="{{ url_for('static', filename='JS/libraries/jquery-3.6.0.min.js') }}"></script>
<script src="{{ url_for('static', filename='JS/libraries/popper.min.js') }}"></script>
<script src="{{ url_for('static', filename='JS/libraries/bootstrap/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='JS/libraries/friconix.js') }}"></script>
<script src="{{ url_for('static', filename='JS/libraries/socket.io.min.js') }}"></script>
<script src="{{ url_for('static', filename='JS/global.js') }}"></script>
{{ JSGlue.include() }}
<form>
    <div class="form-row">
        <div class="col">
            <label for="#template">Template</label>
            <select class="custom-select" id="template">
                {% for template in templates %}
                    <option value="{{ template.id }}">{{ template.name }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="form-row">
        <div class="col">
            <label for="#type">Type</label>
            <input id="type" class="form-control disabled" value="{{ templates[0].type }}" disabled />
        </div>
        <div class="col">
            <label for="#outputname">Output format**</label>
            <input type="text" class="form-control" value="{{ templates[0].output_name }}" id="outputname" />
        </div>
        <div class="col">
            <label for="#extension">Extension</label>
            <select class="custom-select" id="extension">
                <optgroup label="Audio">
                    <option value="aac">AAC</option>
                    <option value="flac">FLAC</option>
                    <option value="mp3" selected>MP3</option>
                    <option value="m4a">M4A</option>
                    <option value="opus">Opus</option>
                    <option value="vorbis">Vorbis</option>
                    <option value="wav">WAV</option>
                </optgroup>
                <optgroup label="Video">
                    <option value="mp4">MP4</option>
                    <option value="flv">Flash Video (FLV)</option>
                    <option value="webm">WebM</option>
                    <option value="ogg">Ogg</option>
                    <option value="mkv">Matroska (MKV)</option>
                    <option value="avi">AVI</option>
                </optgroup>
            </select>
        </div>
    </div>
    <div class="form-row">
        <div class="col">
            <label for="#output_folder">Output folder*</label>
            <input type="text" id="output_folder" value="{{ templates[0].output_folder }}" class="form-control" />
        </div>
        <div class="col">
            <label for="#bitrate">Bitrate***</label>
            <input type="text" class="form-control" id="bitrate" value="{{ templates[0].bitrate }}" />
        </div>
    </div>
    <div class="form-row">
        <div class="col">
            <p class="float-left">
                * (absolute path starting with <code>/</code> or <code>drive_letter:\</code> or a relative path from the root directory) <br/>
                ** (More info about name formatting <a target="_blank" href="https://github.com/yt-dlp/yt-dlp#output-template">here</a>) <br />
                *** (More info about bitrates <a target="_blank" href="https://en.wikipedia.org/wiki/Bit_rate">here</a>)
            </p>
        </div>
    </div>
    {% if segments != 'error' %}
        <div class="form-row">
            <div class="col">
                <p class="timestamp_caption">Timestamps from <a href="https://sponsor.ajay.app/" target="_blank">Sponsorblock</a> in seconds: </p>
            </div>
        </div>
        {% for i in range(segments|length) %}
            <div class="form-row timestamp_row" id="row_{{ i }}">
                <div class="col">
                    {% if i == 0 %}
                        <label for="#segmentstart_{{ i }}">Starting second of segment to skip</label>
                    {% endif %}
                    <input type="text" class="form-control timestamp_input" id="segmentstart_{{ i }}" value="{{ segments[i]['segment'][0]|int }}" />
                </div>
                <div class="col">
                    {% if i == 0 %}
                        <label for="#segmentend_{{ i }}">Ending second of segment to skip</label>
                    {% endif %}
                    <div class="input-group">
                        <input type="text" class="form-control timestamp_input" id="segmentend_{{ i }}" value="{{ segments[i]['segment'][1]|int }}" />
                        <div class="input-group-append">
                            {% if i > 0 %}
                                <button type="button" class="btn btn-danger bg-danger input-group-text removesegment"><i class="fi-xwsuxl-minus-solid" style="color: white;"></i></button>
                            {% else %}
                                <button type="button" id="addsegment" class="btn btn-success input-group-text bg-success"><i class="fi-xwsuxl-plus-solid" style="color: white;"></i></button>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <div class="form-row">
            <div class="col">
                <p class="timestamp_caption">No timestamps in sponsorblock database. Add your own here in seconds: </p>
            </div>
        </div>
        <div class="form-row timestamp_row" id="row_0">
            <div class="col">
                <label for="#segmentstart_0">Starting second of segment to skip</label>
                <input type="text" class="form-control timestamp_input" id="segmentstart_0"/>
            </div>
            <div class="col">
                <label for="#segmentend_0">Ending second of segment to skip</label>
                <div class="input-group">
                    <input type="text" class="form-control timestamp_input" id="segmentend_0"/>
                    <div class="input-group-append">
                        <button type="button" id="addsegment" class="btn btn-success input-group-text bg-success"><i class="fi-xwsuxl-plus-solid" style="color: white;"></i></button>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    <div class="form-row">
        <div class="col ml-4">
            <input type="checkbox" class="form-check-input" id="segments_check" value="disable_segments" />
            <label class="form-check-label" for="#segments_check">Disable segments (download entire video)</label>
        </div>
    </div>
    <div class="form-row">
        <div class="col">
            <label for="#proxy_type">Select proxy type</label>
            <select id="proxy_type" class="custom-select">
                <option value="None" selected>Don't use proxy</option>
                <option value="HTTP">HTTP</option>
                <option value="HTTPS">HTTPS</option>
                <option value="SOCKS5">SOCKS5</option>
            </select>
        </div>
    </div>
    <div class="form-row d-none" id="proxy_row">
        <div class="col">
            <label for="#proxy_address">Enter proxy address</label>
            <input type="text" class="form-control" id="proxy_address" />
        </div>
        <div class="col">
            <label for="#proxy_port">Enter proxy port</label>
            <input type="text" class="form-control num_input" id="proxy_port" />
        </div>
        <div class="col">
            <label for="#proxy_username">Enter proxy username</label>
            <input type="text" class="form-control" id="proxy_username" />
        </div>
        <div class="col">
            <label for="#proxy_password">Enter proxy password</label>
            <input type="text" class="form-control" id="proxy_password" />
        </div>
    </div>
    <div class="form-row">
        <div class="col">
            <div class="progress d-none">
                <div class="progress-bar progress-bar-striped progress-bar-animated" id="ytdl_progress" role="progressbar" aria-valuenow="" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <div class="d-none" id="progress_status"><p></p></div>
        </div>
    </div>
</form>