<form>
    <hr style="height: 0; border: none; border-top: 2px solid black;">
    <h5 class="text-center mt-2">Download settings</h5>
    <div class="form-row">
        <div class="col">
            <label for="#template">Template</label>
            <select class="custom-select" id="template">
                {% for template in templates %}
                    <option value="{{ template.id }}" {% if template.default is sameas True %} selected {% endif %}>{{ template.name }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="form-row">
        <div class="col">
            <label for="#type">Type</label>
            <input id="type" class="form-control disabled" value="{{ default.type }}" disabled />
        </div>
        <div class="col">
            <label for="#outputname">Output format**</label>
            <input type="text" class="form-control" value="{{ default.output_name }}" id="outputname" />
        </div>
        <div class="col">
            <label for="#extension">Extension</label>
            <select class="custom-select" id="extension">
                <optgroup label="Audio">
                    <option {% if default.extension|lower == 'aac' %} selected {% endif %} value="aac" nosupport>AAC (Metadata not supported)</option>
                    <option {% if default.extension|lower == 'flac' %} selected {% endif %} value="flac">FLAC</option>
                    <option {% if default.extension|lower == 'mp3' %} selected {% endif %} value="mp3">MP3</option>
                    <option {% if default.extension|lower == 'm4a_audio' %} selected {% endif %} value="m4a_audio">M4A</option>
                    <option {% if default.extension|lower == 'opus' %} selected {% endif %} value="opus">Opus</option>
                    <option {% if default.extension|lower == 'vorbis' %} selected {% endif %} value="vorbis" nosupport>OGG (with Vorbis codec)</option>
                    <option {% if default.extension|lower == 'wav' %} selected {% endif %} value="wav">WAV</option>
                </optgroup>
                <optgroup label="Video">
                    <option {% if default.extension|lower == 'mp4' %} selected {% endif %} value="mp4">MP4</option>
                    <option {% if default.extension|lower == 'm4a' %} selected {% endif %} value="m4a_video">M4A</option>
                    <option {% if default.extension|lower == 'flv' %} selected {% endif %} value="flv" nosupport>Flash Video (FLV & Metadata not supported)</option>
                    <option {% if default.extension|lower == 'webm' %} selected {% endif %} value="webm" nosupport>WebM (Metadata not supported)</option>
                    <option {% if default.extension|lower == 'ogg' %} selected {% endif %} value="ogg">Ogg</option>
                    <option {% if default.extension|lower == 'mkv' %} selected {% endif %} value="mkv" nosupport>Matroska (MKV & Metadata not supported)</option>
                    <option {% if default.extension|lower == 'avi' %} selected {% endif %} value="avi" nosupport>AVI (Metadata not supported)</option>
                </optgroup>
            </select>
        </div>
    </div>
    <div class="form-row">
        <div class="col">
            <label for="#output_folder">Output folder*</label>
            <input type="text" id="output_folder" value="{{ default.output_folder }}" class="form-control" />
        </div>
        <div class="col">
            <label for="#bitrate">Bitrate***</label>
            <input type="text" class="form-control" id="bitrate" value="{{ default.bitrate }}" />
        </div>
    </div>
    <div class="form-row {{'d-none' if default.type == 'Audio' else '' }}   " id="videorow">
        {% set resolution = default.resolution.split(';') %}
        <div class="col">
            <label for="width">Video width (in pixels)</label>
            <input type="text" value="{{ default.resolution }}" class="form-control num_input" id="width" />
        </div>
        <div class="col">
            <label for="height">Video height (in pixels)</label>
            <input type="text" value="{{ resolution[1] }}" class="form-control num_input" id="height" />
        </div>
        <div class="col d-none d-lg-block">
            <label for="#resolution">Resolution****</label>
            <select class="custom-select" id="resolution">
                <option value="best">Best</option>
                <option value="7680;4320">8K UHD</option>
                <option value="3840;2160">4K UHD</option>
                <option value="1920;1080" selected>FHD</option>
                <option value="1280;720">HD</option>
                <option value="720;480">SD</option>
            </select>
        </div>
    </div>
    <div class="form-row">
        <div class="col">
            <p class="float-left">
                * (absolute path starting with <code>/</code> or <code>drive_letter:\</code> or a relative path from the root directory) <br/>
                ** (More info about name formatting <a target="_blank" href="https://github.com/yt-dlp/yt-dlp#output-template">here</a>) <br />
                *** (Leave empty to use best bitrate; More info about bitrates <a target="_blank" href="https://en.wikipedia.org/wiki/Bit_rate">here</a>) <br />
                **** (More info on resolutions <a target="_blank" href="https://levvvel.com/169-resolutions/">here</a>)
            </p>
        </div>
    </div>
    {% if segments != 'error' %}
        <div class="form-row">
            <div class="col">
                <p class="timestamp_caption">Timestamps from <a href="https://sponsor.ajay.app/" target="_blank">Sponsorblock</a> in seconds: </p>
            </div>
        </div>
        {% for i in range(segments|length) %}
            <div class="form-row timestamp_row" id="row_{{ i }}">
                <div class="col">
                    {% if i == 0 %}
                        <label for="#segmentstart_{{ i }}">Starting second of segment to skip</label>
                    {% endif %}
                    <input type="text" class="form-control timestamp_input num_input" id="segmentstart_{{ i }}" value="{{ segments[i]['segment'][0]|int }}" />
                </div>
                <div class="col">
                    {% if i == 0 %}
                        <label for="#segmentend_{{ i }}">Ending second of segment to skip</label>
                    {% endif %}
                    <div class="input-group">
                        <input type="text" class="form-control timestamp_input num_input" id="segmentend_{{ i }}" value="{{ segments[i]['segment'][1]|int }}" />
                        <div class="input-group-append">
                            {% if i > 0 %}
                                <button type="button" class="btn btn-danger bg-danger input-group-text removesegment"><i class="bi bi-dash" style="color: white;"></i></button>
                            {% else %}
                                <button type="button" id="addsegment" class="btn btn-success input-group-text bg-success"><i class="bi bi-dash" style="color: white;"></i></button>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <div class="form-row">
            <div class="col">
                <p class="timestamp_caption">No timestamps in sponsorblock database. Add your own here in seconds: </p>
            </div>
        </div>
        <div class="form-row timestamp_row" id="row_0">
            <div class="col">
                <label for="#segmentstart_0">Starting second of segment to skip</label>
                <input type="text" class="form-control timestamp_input num_input" id="segmentstart_0"/>
            </div>
            <div class="col">
                <label for="#segmentend_0">Ending second of segment to skip</label>
                <div class="input-group">
                    <input type="text" class="form-control timestamp_input num_input" id="segmentend_0"/>
                    <div class="input-group-append">
                        <button type="button" id="addsegment" class="btn btn-success input-group-text bg-success"><i class="bi bi-plus-lg" style="color: white;"></i></button>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    <div class="form-row">
        <div class="col ml-4">
            <input type="checkbox" class="form-check-input" id="segments_check" value="disable_segments" />
            <label class="form-check-label" for="#segments_check">Disable segments (download entire video)</label>
        </div>
    </div>
    <div class="form-row">
        <div class="col">
            <label for="#proxy_type">Select proxy type</label>
            <select id="proxy_type" class="custom-select">
                <option {% if default.proxy_type|upper == 'NONE' %} selected {% endif %} value="None">None</option>
                <option {% if default.proxy_type|upper == 'HTTP' %} selected {% endif %} value="HTTP">HTTP</option>
                <option {% if default.proxy_type|upper == 'HTTPS' %} selected {% endif %} value="HTTPS">HTTPS</option>
                <option {% if default.proxy_type|upper == 'SOCKS5' %} selected {% endif %} value="SOCKS5">SOCKS5</option>
            </select>
        </div>
    </div>
    <div class="form-row {{ 'd-none' if default.proxy_status is sameas False else '' }}" id="proxy_row">
        <div class="col">
            <label for="#proxy_address">Address</label>
            <input value="{{ default.proxy_address }}" type="text" class="form-control" id="proxy_address" required/>
        </div>
        <div class="col">
            <label for="#proxy_port">Port</label>
            <input value="{{ default.proxy_port }}" type="text" class="form-control num_input" id="proxy_port" required/>
        </div>
        <div class="col">
            <label for="#proxy_username">Username</label>
            <input value="{{ default.proxy_username }}" type="text" class="form-control" id="proxy_username" />
        </div>
        <div class="col">
            <label for="#proxy_password">Password</label>
            <input value="{{ default.proxy_password }}" type="text" class="form-control" id="proxy_password" />
        </div>
    </div>
</form>
