{% extends 'base.html' %}
{% block content %}
<script src="{{ url_for('static', filename='JS/overview.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='CSS/overview.css') }}" />
<div class="container">
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Search for downloaded video..." aria-label="Downloaded video name">
        <div class="input-group-append">
            <button type="button" id="addvideo" class="btn btn-success input-group-text bg-success" data-toggle="tooltip" data-placement="top" title="Download an item"><i class="fi-xwsuxl-plus-solid"></i></button>
            <button class="navbar-toggler d-block d-lg-none" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fi-xnsuxl-three-bars-solid"></i>
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p class="text-center" id="overviewlog"></p>
        </div>
    </div>
    <table class="table table-hover" id="recordstable">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Artist</th>
                <th scope="col">Album</th>
                <th scope="col">Date</th>
                <th scope="col">Extension</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for record in records %}
                <tr id="{{ record.id }}">
                    <td class="td_name"><img class="img-fluid cover_img" style="width: 100px; height: 100px;" /> <span>{{ record.name }}</span></td>
                    <td class="td_artist" style="vertical-align: middle;">{{ record.artist.replace('/', ';') }}</td>
                    <td class="td_album" style="vertical-align: middle;">{{ record.album }}</td>
                    <td class="td_date" style="vertical-align: middle;">{{ record.date.strftime('%d-%m-%Y') }}</td>
                    <td class="td_ext" style="vertical-align: middle;">{{ get_ext(record.filepath) }}</td>
                    <td style="vertical-align: middle;">
                        <div class="dropdown">
                            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">Select action</button>
                            <div class="dropdown-menu">
                                <a href="javascript:void(0)" class="dropdown-item editfilebtn">{% if path_exists(record.filepath) %} Change filedata {% else %} Item has been moved or deleted {% endif %}</a>
                                <a href="javascript:void(0)" class="dropdown-item editmetadatabtn">{% if path_exists(record.filepath) and check_metadata(record.filepath) %} Change metadata {% else %} Item has been moved or deleted or metadata is not supported {% endif %}</a>
                                <a href="javascript:void(0)" class="dropdown-item downloaditembtn">{% if path_exists(record.filepath) %} Download item {% else %} Item has been moved or deleted {% endif %}</a>
                                <a href="https://youtu.be/{{record.youtube_id}}" target="_blank" class="dropdown-item">View YouTube video</a>
                                <a href="javascript:void(0)" class="dropdown-item deleteitembtn">Delete item</a>
                            </div>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div class="modal fade" tabindex="-1" role="dialog" id="downloadmodal" aria-hidden="true">
    <div class="modal-dialog modal-lg mw-100 w-75">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Download song</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    {% if ffmpeg_path is sameas True %}
                    <div class="row">
                        <form id="queryform" class="form-group" style="width: 100%;">
                            <p>Only YouTube URLs are currently supported</p>
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" id="query" placeholder="Enter URL or a name of a YouTube video" aria-describedby="basic-addon2" autocomplete="off" aria-autocomplete="Query to what to search for">
                                <div class="input-group-append">
                                    <button type="button" id="searchsongbtn" class="btn btn-success"><i class="fi-xnsuhl-search"></i></button>
                                </div>
                            </div>
                            <p class="text-center" id="searchlog"></p>
                        </form>
                    </div>
                    <div class="row animate__animated" id="defaultview">
                        <div class="col-md-6" id="ytcol"></div>
                        <div class="col-md-6" id="audiocol"></div>
                    </div>
                    <div id="metadataview" class="d-none animate__animated"></div>
                    <div id="progressview" class="d-none">
                        <div class="form-row">
                            <div class="col">
                                <p id="progresstext" class="text-center"></p>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col">
                                <div class="progress" id="progressdownload">
                                    <div class="progress-bar progress-bar-striped progress-bar-animated" id="progress" role="progressbar" aria-valuenow="" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% else %}
                    <div class="row">
                        <h3 class="text-center">Select an FFmpeg location in settings before downloading any songs!</h3>
                    </div>
                    {% endif %}                    
                </div>
            </div>
            <div class="modal-footer d-none" id="searchvideomodalfooter">
                <button type="button" class="btn btn-primary" id="editmetadata">Edit metadata manually</button>
                <button type="button" class="btn btn-success" id="downloadbtn">Download</button>
                <button type="button" class="btn btn-primary d-none" id="downloadfilebtn">Download file</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="removeitemmodal" tabindex="-1" role="dialog" aria-labelledby="remove item modal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="removeitemmodaltitle"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            <div class="modal-body">
                <p>Are you sure you want to delete this item?</p>
                <p>This action will delete the file itself too!</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" id="delitembtnmodal">Delete item</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="edititemmodal" tabindex="-1" role="dialog" aria-labelledby="Edit item modal" aria-hidden="true">
    <div class="modal-dialog modal-lg mw-100 w-75" role="document">
        <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="edititemmodaltitle"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            <div class="modal-body">
                <div id="downloadsection"></div>
                <div id="metadatasection"></div>
                <div id="progresssection"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="edititembtnmodal">Save item</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}