{% extends 'base.html' %}
{% block content %}
<script src="{{ url_for('static', filename='JS/libraries/APlayer.min.js') }}"></script>
<script src="{{ url_for('static', filename='JS/overview.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='CSS/libraries/APlayer.min.css') }}" />
<div class="container">
    <div class="input-group">
        <input type="text" class="form-control" id="searchitem" placeholder="Search for downloaded video..." aria-label="Downloaded video name" autocomplete="off">
        <div class="input-group-append">
            <button type="button" id="addvideo" class="btn btn-success input-group-text bg-success" data-toggle="tooltip" data-placement="top" title="Download an item"><i class="bi bi-plus-lg" aria-label="Add item"></i></button>
            <button class="navbar-toggler d-block d-lg-none" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                <i class="bi bi-list" aria-label="Toggle navigation"></i>
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p class="text-center" id="overviewlog"></p>
        </div>
    </div>
    <div class="row" style="visibility: hidden" id="bulkactionsrow">
        <div class="col">
            <div class="btn-group float-right">
                <button type="button" class="btn btn-success" id="downloaditems">Download selected items</button>
                <button type="button" class="btn btn-danger" id="deleteitems">Delete selected items</button>
            </div>
        </div>
    </div>
    <div class="table-responsive-md" style="height: 75vh; overflow-y: auto;">
        <table class="table table-hover table-bordered" id="recordstable">
            <thead>
                <tr>
                    <th scope="col" class="text-dark">Name</th>
                    <th scope="col" class="text-dark">Artist</th>
                    <th scope="col" class="text-dark">Album</th>
                    <th scope="col" class="text-dark">Date</th>
                    <th scope="col" class="text-dark">Extension</th>
                    <th scope="col" style="vertical-align: middle;" class="text-dark align-middle"><span>Actions</span><input class="float-right mr-2 align-middle" type="checkbox" id="selectall" /></th>
                </tr>
            </thead>
            <tbody>
                <noscript>
                    <tr>
                        <td colspan="6" class="text-dark text-center">
                            <h5>MetaTube will NOT work if you disable JavaScript</h5>
                        </td>
                    </tr>
                </noscript>
                {% if records|length > 0 %}
                    {% for record in records %}
                        <tr id="{{ record.id }}">
                            <td class="td_name text-dark" style="min-width: 120px;">
                                <div class="row justify-content-center">
                                    <div class="col d-flex justify-content-center">
                                        <img class="img-fluid cover_img" style="width: 100px; height: 100px;" src="{{ record.cover }}" />
                                    </div>
                                    <div class="col align-self-center" style="margin: 0 10px 0 10px"><span class="align-middle">{{ record.name }}</span></div>
                                </div>
                            </td>
                            <td class="td_artist text-dark" style="vertical-align: middle;">{{ record.artist.replace('/', ';') }}</td>
                            <td class="td_album text-dark" style="vertical-align: middle;">{{ record.album }}</td>
                            <td class="td_date text-dark" style="vertical-align: middle;">{{ record.date.strftime('%d-%m-%Y') }}</td>
                            <td class="td_ext text-dark" style="vertical-align: middle;">{{ get_ext(record.filepath) }}</td>
                            <td style="vertical-align: middle;" colspan="2">
                                <div class="d-flex justify-content-end">
                                    <div class="dropdown">
                                        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">Select action</button>
                                        <div class="dropdown-menu">
                                            {% if path_exists(record.filepath) %}
                                                <a href="javascript:void(0)" class="dropdown-item d-none d-md-block editfilebtn">Change filedata</a>
                                                <a href="javascript:void(0)" class="dropdown-item d-none d-md-block editmetadatabtn">{% if check_metadata(record.filepath) %} Change metadata {% else %} Metadata is not supported {% endif %}</a>
                                                <a href="javascript:void(0)" class="dropdown-item downloaditembtn">Download item</a>
                                                <a href="javascript:void(0)" class="dropdown-item playitembtn">Play item</a>
                                                <a href="javascript:void(0)" class="dropdown-item d-none d-md-block moveitembtn">Move item's file location</a>
                                            {% else %}
                                                <a href="javascript:void(0)" class="dropdown-item d-none d-md-block finditembtn">Select new item location (item has been moved or deleted)</a>    
                                            {% endif %}
                                            <a href="https://youtu.be/{{record.youtube_id}}" target="_blank" class="dropdown-item">View YouTube video</a>
                                            <a href="javascript:void(0)" class="dropdown-item deleteitembtn">Delete item</a>
                                        </div>
                                    </div>
                                    <div class="form-check ml-2"><input type="checkbox" class="form-check-input selectitem" /></div>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr id="emptyrow">
                        <td colspan="6" class="text-dark text-center" style="border: 0px;"><h5>No items have been downloaded yet! Click on the plus next to the search field to add an item!</h5></td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
    <div id="audioplayer" class="d-none"></div>
</div>
{% include 'modals/download.html' %}
{% include 'modals/removeitem.html' %}
{% include 'modals/editfile.html' %}
{% include 'modals/editmetadata.html' %}
{% include 'modals/filebrowser.html' %}
{% endblock %}