{% extends 'base.html' %}
{% block content %}
<script src="{{ url_for('static', filename='JS/settings.js') }}"></script>
<div class="container-fluid">
    <nav>
        <ul class="nav nav-tabs justify-content-center" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" href="#downloadtab" data-toggle="tab">Download settings</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#templatestab" data-toggle="tab">Template settings</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#userstab" data-toggle="tab">User settings</a>
            </li>
        </ul>
    </nav>
    <div class="tab-content">
        <div class="tab-pane active" id="downloadtab">
            <h4>Download settings</h4>
            <form method="post" id="downloadsform">
                {{ download_form.csrf_token }}
                <div class="form-row" id="downloadsettingslog">
                    <div class="col">
                        {% with messages = get_flashed_messages() %}
                            {% if messages %}
                                {% for message in messages %}
                                    <p class="text-center">{{ message }}</p>
                                {% endfor %}
                            {% endif %}
                        {% endwith %}
                        {% for field, error in download_form.errors.items() %}
                            {% for e in error %}
                                <p class="text-center">{{ field.label }} {{ e }}</p>
                            {% endfor %}
                        {% endfor %}
                    </div>
                </div>
                <div class="form-row">
                    <div class="col">
                        <label for="#ffmpeg_path">An absolute path* or relative path from the root directory** to the folder containing ffmpeg. Required to download videos.</label>
                        {{ download_form.ffmpeg_path(class='form-control', id='ffmpeg_path')}}
                    </div>
                </div>
                {{ download_form.submit(class='btn btn-success', id='submitdownloadform') }}
                <p> * An absolute path starts with <code>/</code> or <code>drive_letter:\</code> <br/>
                    ** The root directory is the same directory where <code>metatube.py</code> is located</p>
            </form>
        </div>
        <div class="tab-pane" id="templatestab">
            <h4>Template settings</h4>
            <p class="text-center" id="templateslog"></p>
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Template name</th>
                            <th scope="col">Template type</th>
                            <th scope="col">Template extension</th>
                            <th scope="col">Template output folder</th>
                            <th scope="col">Template name format</th>
                            <th scope="col">Template bitrate</th>
                            <th scope="col">Edit template</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for template in templates %}
                            <tr id="{{ template.id }}">
                                <td class="td_name">{{ template.name }}</td>
                                <td class="td_type">{{ template.type }}</td>
                                <td class="td_extension">{{ template.extension }}</td>
                                <td class="td_output_name">{{ template.output_name }}</td>
                                <td class="td_output_folder">{{ template.output_folder }}</td>
                                <td class="td_bitrate">{{ template.bitrate }}</td>
                                <td>
                                    <button type="button" class="btn btn-success changetemplatebtn {{ 'defaultbtn' if template.name == 'Default' else '' }}"><i class="fi-xnsuxl-edit-solid"></i></button>
                                    <button type="button" class="btn btn-danger deltemplatebtn {{ 'defaultbtn' if template.name == 'Default' else '' }}" data-toggle="modal" data-target="#removetemplatemodal"><i class="fi-xnsuxl-trash-bin"></i></button>
                                    <button type="button" class="btn btn-primary expandtemplatebtn {{ 'defaultbtn' if template.name == 'Default' else '' }}"><i class="fi-xwsdxl-caret-solid"></i></button>
                                </td>
                            </tr>
                            <tr id="proxy_{{ template.id }}" class="d-none">
                                <td class="td_proxy" colspan="7">
                                    <p>Proxy status: <span class="td_proxy_status">{{ template.proxy_status }}</span> <br/>
                                    {% if template.proxy_status == 1 %}
                                        Proxy type: <span class="td_proxy_type">{{ template.proxy_type }}</span> <br/>
                                        Proxy address: <span class="td_proxy_address">{{ template.proxy_address }}</span> <br/>
                                        Proxy port: <span class="td_proxy_port">{{ template.proxy_port }}</span> <br/>
                                        Proxy username: <span class="td_proxy_username">{{ template.proxy_username if template.proxy_username|length > 0 else 'None' }}</span> <br/>
                                        Proxy password: <span class="td_proxy_password">{{ template.proxy_password if template.proxy_password|length > 0 else 'None' }}</span>
                                    {% endif %}
                                    </p>
                                </td>
                            </tr>
                        {% endfor %}
                        <tr>
                            <td colspan="7" class="text-center">Add template <button type="button" class="btn btn-success" id="addtemplatemodalbtn"><i class="fi-swluxl-plus-solid"></i></button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="tab-pane" id="userstab">
            
        </div>
    </div>
</div>
<div class="modal fade" id="removetemplatemodal" tabindex="-1" role="dialog" aria-labelledby="remove template modal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="removetemplatemodaltitle"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            <div class="modal-body">
                Are you sure you want to delete this Template? 
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" id="deltemplatebtnmodal">Delete template</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" tabindex="-1" role="dialog" id="templatesmodal" aria-labelledby="template modal" aria-hidden="true">
    <div class="modal-dialog modal-lg mw-100 w-75">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add template</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="addtemplateform">
                    <div class="form-row">
                        <div class="col">
                            <p class="text-center" id="templatemodallog"></p>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col">
                            <label for="#template_name">Name of the template</label>
                            <input type="text" id="template_name" class="form-control"/>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col">
                            <label for="#template_folder">Output folder* of the template</label>
                            <input type="text" id="template_folder" class="form-control" />
                        </div>
                        <div class="col">
                            <label for="#template_outputname">Output name format**</label>
                            <input type="text" class="form-control" id="template_outputname" />
                        </div>
                        <div class="col">
                            <label for="#template_type">Output type of the template</label>
                            <select class="custom-select" id="template_type">
                                <optgroup label="Audio">
                                    <option value="aac">AAC</option>
                                    <option value="flac">FLAC</option>
                                    <option value="mp3">MP3</option>
                                    <option value="m4a">M4A</option>
                                    <option value="opus">Opus</option>
                                    <option value="vorbis">Vorbis</option>
                                    <option value="wav">WAV</option>
                                </optgroup>
                                <optgroup label="Video">
                                    <option value="mp4">MP4</option>
                                    <option value="flv">Flash Video (FLV)</option>
                                    <option value="webm">WebM</option>
                                    <option value="ogg">Ogg</option>
                                    <option value="mkv">Matroska (MKV)</option>
                                    <option value="avi">AVI</option>
                                </optgroup>
                            </select>
                        </div>
                        <div class="col">
                            <label for="#template_bitrate">Bitrate***</label>
                            <input type="text" class="form-control" id="template_bitrate" />
                        </div>
                    </div>
                    <div class="form-row d-none" id="advancedrow">
                        <div class="col">
                            <label for="#proxy_status">Enable proxy</label>
                            <select id="proxy_status" class="custom-select">
                                <option value="false" selected>False</option>
                                <option value="true">True</option>
                            </select>
                        </div>
                        <div class="col d-none">
                            <label for="#proxy_type">Select proxy type</label>
                            <select id="proxy_type" class="custom-select">
                                <option value="HTTP" selected>HTTP</option>
                                <option value="HTTPS">HTTPS</option>
                                <option value="SOCKS5">SOCKS5</option>
                            </select>
                        </div>
                        <div class="col d-none">
                            <label for="#proxy_address">Enter proxy address</label>
                            <input type="text" class="form-control" id="proxy_address" />
                        </div>
                        <div class="col d-none">
                            <label for="#proxy_port">Enter proxy port</label>
                            <input type="text" class="form-control num_input" id="proxy_port" />
                        </div>
                        <div class="col d-none">
                            <label for="#proxy_username">Enter proxy username</label>
                            <input type="text" class="form-control" id="proxy_username" />
                        </div>
                        <div class="col d-none">
                            <label for="#proxy_password">Enter proxy password</label>
                            <input type="text" class="form-control" id="proxy_password" />
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col">
                            <button type="button" class="btn btn-success" id="advancedtoggle">Show advanced</button>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col">
                            <p class="float-left">
                                * (absolute path starting with <code>/</code> or <code>drive_letter:\</code> or a relative path from the root directory) <br/>
                                ** (More info about name formatting <a target="_blank" href="https://github.com/yt-dlp/yt-dlp#format-selection">here</a>) <br />
                                *** (More info about bitrates <a target="_blank" href="https://en.wikipedia.org/wiki/Bit_rate">here</a>)
                            </p>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" id="addtemplatebtn" class="btn templatebtn btn-primary">Add template</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}